<ion-view view-title="Twitter">
<ion-header-bar ng-show="logged" ng-if="logged" class="bar bar-subheader item-input-inset">
       <label class="item-input-wrapper">
              <input style="width:100%" type="text" placeholder="@GooGooRadio ..." ngMinlength="6" ng-model="tweet.message" ng-trim="false" required maxlength="127" ng-maxlength="127">
              <span style="font-size:5px">{{127 - tweet.message.length}} left</span>
            </label>
            <button class="button button-small" ng-click="submitTweet()">
              <i class="ion-social-twitter"></i>
            </button>
</ion-header-bar>
  <ion-content class="has-header has-subheader padding" on-swipe-right="selectTabWithIndex(0)" >
  
    <div ng-hide="logged">
        <div class="twitter-signin">
              <img src="assets/sign-in-twitter.png" ng-click="signin()"/> 
        </div>
       
    </div>
    <div ng-show="logged">
        
        <ion-refresher ng-if="logged" on-refresh="doRefresh()"></ion-refresher>
        <div ng-show="home_timeline.length == 0">Loading tweets...</div>

        
        <div ng-repeat="entry in home_timeline.statuses" class="list card" >
          <div class="item item-avatar">
            <img ng-src="{{entry.user.profile_image_url}}"/>
            <h2>{{entry.user.name}}</h2>
            <p>{{correctTimestring(entry.created_at) | date:'medium'}}</p>

            <div class="item item-body">
              <p ng-bind-html="entry.text | tweetURLtoJS"></p>
              <img ng-if="entry.entities.media" src="{{entry.entities.media[0].media_url}}" style="width: 100%;" />
            </div>
          </div>
        </div>

        


    </div>     
  </ion-content>
</ion-view>

