<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="#NowPlaying" icon-off="ion-radio-waves" icon-on="ion-radio-waves" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Twitter" icon-off="ion-social-twitter" icon-on="ion-social-twitter" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Crowd Tab -->
  <ion-tab title="Crowd Mood" icon-off="ion-happy" icon-on="ion-happy" href="#/tab/crowd">
    <ion-nav-view name="tab-crowd"></ion-nav-view>
  </ion-tab>


</ion-tabs>
